

#left_box{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 14
}
.accordion .titled-pane .title {
    -fx-background-color: #303540;
}
.menuBtn{
	-fx-background-color:  #303540;
	-fx-text-fill: white;
	-fx-border-color:#1c222e;
}

#scroll{
	-fx-border-color:#1c222e;
}

